.edit-product-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    padding: 25px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-top: 30px;
}

.form-group {
    margin-bottom: 15px;
}
.label{
    font-weight: 700;
    margin-right: 10px;
}
.btn-smt{
    padding: 10px 45px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    margin: 0px 50px 0px 50px;
}
.cat1{
    margin-right: 28px;
    font-weight: 700;

}
.label-name{
    margin-right: 51px;
    font-weight: 700;
}
/* 
input,
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    margin-top: 5px;
}

textarea {
    height: 100px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
} */
